button#btnPay{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

div#divDatos{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
}

div#divFactura{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
}

div#divReserva{
  vertical-align: middle;
}

div#divScreenPay{
	background-color: #e64040;
}

div#divTicketFac{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
	margin-right: 0.75em;
}

input[type="text"]{
	margin-bottom: 1em;
}

input[type="text"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}
input[type="number"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

input[type="date"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

select:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

/* ocultar controles de input date */ 
input[type="date"]::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator{
	display: none;
}

::-webkit-datetime-edit-day-field:not([aria-valuetext]),
::-webkit-datetime-edit-month-field:not([aria-valuetext]),
::-webkit-datetime-edit-year-field:not([aria-valuetext]) 
{
  color: #999;
}


/* mostrar el calendario al hacer click */
input[type="date"]::-webkit-calendar-picker-indicator {
	display: block;
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

/* mostrar la fecha seleccionada al estar en hover */
input[type="date"]:hover::-webkit-datetime-edit {
	display: block;
	font-size: small;
}

span#totalF{
	color: black;
	font-size: xx-large;
	font-weight: bold;
}