@media ( max-width : 768px ){
	button#btnAloj, #btnBuscar{
		font-size: 1em !important;
	}

	button#btnBonus1, #btnBonus2, #btnBonus3, #btnBonus4{
		font-size: 0.5em;
	}
}

@media ( max-width : 500px ){
	button#btnAloj, #btnBuscar{
		margin-left: 1em;
	}

	div#divDatos, #divFactura{
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.btn-md-text.btn-default{
		font-size: 8pt !important;
	}

	.col-md-2{
		margin-bottom: 0.5em;
	}

	.col-md-5{
		margin-bottom: 0.5em;
	}

	.col-md-6{
		margin-bottom: 0.5em;
	}
}

@media ( max-width : 400px ){
	button#btnAloj{
		margin-left: 1em;
	}

	.btn-md-text.btn-default{
		font-size: 7pt !important;
	}
}

@media ( max-width : 350px ){
	button#btnAloj{
		margin-left: 0.0em;
	}

	.btn-md-text.btn-default{
		font-size: 6pt !important;
	}
}

button#btnPay{
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

button#btnAloj, #btnFriends, #btnAboutUs, #btnHelp, #btnBuscar, 
#btnBonus1, #btnBonus2, #btnBonus3, #btnBonus4{
	margin-right: 0.75em;
	border-color: #e64040;
	color: #e64040;
}

button#btnAloj:hover, #btnFriends:hover, #btnAboutUs:hover, #btnHelp:hover, #btnBuscar:hover,
#btnBonus1:hover, #btnBonus2:hover, #btnBonus3:hover, #btnBonus4:hover{
	background-color: #e64040;
	border-color: #e64040;
	color: #ffffff;
}

div#divDatos{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
}

div#divFactura{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
}

div#divReserva{
  vertical-align: middle;
}

div#divScreenPay{
	background-color: #e64040;
}

div#divTicketFac{
	background-color: white;
	border: 0.25em;
	border-radius: 0.25em;
	margin-right: 0.75em;
}

input[type="text"]{
	margin-bottom: 1em;
}

input[type="text"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}
input[type="number"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

input[type="date"]:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

select:hover{
    border-bottom-color: #e64040;
    border-bottom-width: 0.20em;
}

/* ocultar controles de input date */ 
input[type="date"]::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator{
	display: none;
}

::-webkit-datetime-edit-day-field:not([aria-valuetext]),
::-webkit-datetime-edit-month-field:not([aria-valuetext]),
::-webkit-datetime-edit-year-field:not([aria-valuetext]) 
{
  color: #999;
}


/* mostrar el calendario al hacer click */
input[type="date"]::-webkit-calendar-picker-indicator {
	display: block;
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

/* mostrar la fecha seleccionada al estar en hover */
input[type="date"]:hover::-webkit-datetime-edit {
	display: block;
	font-size: small;
}

span#totalF{
	color: black;
	font-size: xx-large;
	font-weight: bold;
}

#map {
	height: 500px;
	width: 50%;
}
#carrusel {
	height: 500px;
	width: 50%;
}